<table class="table table-bordered table-responsive-sm">
    <thead class="text-center">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cate of categories">
        <td>{{cate.id}}</td>
        <td>{{cate.title}}</td>
        <td class="text-center">
            <button type="button" class="btn btn-warning m-1" (click)="getCategoryId(cate.id)">Update</button>
            <button type="button" class="btn btn-danger m-1" (click)="deleteCategory(cate.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
