<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/">{{ "Navbar.TITLE" | translate }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">{{ "Navbar.HOME" | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addCategory">{{
          "Navbar.CATEGORY" | translate
        }}</a>
      </li>
      <li class="nav-item">
        <select
          class="custom-select"
          data-width="fit"
          #langselect
          (change)="translate.use(langselect.value)"
        >
          <option
            data-content='<span class="flag-icon flag-icon-us"></span> English'
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
          >
            {{ lang }}
          </option>
        </select>
      </li>
      <!-- <li class="nav-item">
        <select class="custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </li> -->
    </ul>
  </div>
</nav>
