<div class="container">
  <div class="row">
    <h3>{{ "Navbar.ADD_NEW_BOOK" | translate }}</h3>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
        <div class="form-group">
          <label>Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter title"
            formControlName="title"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
          />
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Author</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter author"
            formControlName="author"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          />
          <div
            *ngIf="submitted && f.description.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.description.errors.required">
              Description is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter description"
            formControlName="description"
            [ngClass]="{ 'is-invalid': submitted && f.author.errors }"
          />
          <div *ngIf="submitted && f.author.errors" class="invalid-feedback">
            <div *ngIf="f.author.errors.required">Author is required</div>
          </div>
        </div>
        <h4>Category</h4>

        <div>
          <div class="form-check-inline" *ngFor="let cate of category">
            <label class="form-check-label">
              <input
                type="radio"
                class="form-check-input"
                [value]="cate.id"
                name="category"
                formControlName="category"
                (change)="onDataChange($event)"
              />{{ cate.title }}
            </label>
          </div>
          <div
            *ngIf="f.category.touched && f.category.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f.category.errors.required">Category is required.</div>
          </div>
        </div>
        <button type="submit" [ngClass]="isUpdate ? 'mt-4 btn btn-warning' : 'mt-4 btn btn-primary'">
          {{ isUpdate ? "Update" : "Submit" }}
        </button>
      </form>
    </div>
    <div class="col-lg-4">
      <label>Upload Image:</label>
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          (change)="handleFileInput($event)"
          name="filename"
          #Image
          accept="image/*"
        />
        <label class="custom-file-label">Choose file</label>
      </div>
      <div class="fill">
        <img
          [src]="defaultImg"
          alt=""
          style="width: 350px; height: 300px"
          class="mt-5"
          appImgFallback
        />
      </div>
    </div>
  </div>
</div>
