<div class="container">
  <div class="row">
    <h3>{{ "Navbar.ADD_NEW_CATE" | translate }}</h3>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <form
        [formGroup]="categoryForm"
        (ngSubmit)="onSubmit(categoryForm.value)"
      >
        <div class="form-group">
          <label>Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter title"
            formControlName="title"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
          />
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
          </div>
        </div>
        <button type="submit" [ngClass]="isUpdate ? 'btn btn-warning' : 'btn btn-primary'">{{isUpdate ? 'Update' : 'Submit'}}</button>
        <button class="btn btn-danger ml-2" [ngClass]="!isUpdate ? 'd-none' : ''">Cancel</button>
      </form>
    </div>
    <div class="col-lg-6">
      <h4>Category List</h4>
      <app-category-table [category]="category" (childButtonEvent)="getCateID($event)"></app-category-table>
    </div>
  </div>
</div>
