<div class="container">
  <div class="card">
    <h3 class="card-header text-center">Book Detail</h3>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
          <img [src]="book.thumbnail" appImgFallback class="responsive">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h2>Title: {{ book.title }}</h2>
          <h5>Author: {{ book.author }}</h5>
          <h5>Category: {{ book.category }}</h5>
          <p>Description: {{ book.description }}</p>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted p-3"></div>
  </div>
</div>
