<div class="container-fluid">
  <span class="text-center p-2">
    <h3>{{ "Navbar.TITLE" | translate }}</h3>
  </span>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary"
        routerLink="/addBook"
        [queryParams]="{ update: 'false' }"
      >
        {{ "Navbar.ADD_NEW" | translate }}
      </button>
    </div>
    <!-- <div class="col">
      <select
        class="form-control"
        (change)="onOptionsSelected()"
        [(ngModel)]="selected"
        name="category"
      >
        <option selected>Select Category</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.title }}
        </option>
      </select>
    </div> -->
    <div class="col">
      <form class="form-inline d-flex flex-row-reverse">
        <!-- <input
          type="text"
          class="form-control"
          placeholder="Search"
          id="search"
        /> -->
        <input
          type="text"
          name="title"
          [(ngModel)]="title"
          (keyup)="onSearch()"
          class="form-control main-font"
          placeholder="search by title"
        />
      </form>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <app-book-table [title]="title"></app-book-table>
    </div>
  </div>
</div>
