<table class="table table-bordered table-responsive-sm">
  <thead class="text-center">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Thumbnail</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let book of books | paginate: { itemsPerPage: 5, currentPage: page }
      "
    >
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td class="fill">
        <img src="{{ book.thumbnail }}" alt="{{ book.title }}" appImgFallback />
      </td>
      <td class="text-center">
        <button
          type="button"
          class="btn btn-primary m-1"
          [routerLink]="['/viewBook', book.id]"
        >
          View
        </button>
        <button
          type="button"
          class="btn btn-warning m-1"
          [routerLink]="['/updateBook']"
          [queryParams]="{ update: 'true', bookId: book.id }"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger m-1"
          (click)="deleteBook(book.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
